@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200&family=Big+Shoulders+Display:wght@700&family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200&family=Big+Shoulders+Display:wght@700&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&family=Anek+Tamil:wght@200&family=Big+Shoulders+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&family=Anek+Tamil:wght@200&family=Quicksand:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 450vh;
    position: relative;
}

.bottom-nav {
    display: none;
}

/* start of navigation*/
.sec1 {
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    position: sticky;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    top: -1px;
    z-index: 2;
    border-bottom: 1px solid rgba(227, 192, 127, 0.701);
}

.sec1 .logo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sec1 .logo a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    font-family: "Fascinate", cursive;
    font-size: 23px;
}

.sec1 nav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sec1 nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sec1 nav ul li {
    width: 25%;
    text-align: center;
    list-style: none;
}

.sec1 nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    font-family: "Ubuntu", sans-serif;
    font-size: 19px;
}

.sec1 nav ul li a:hover {
    font-size: 21px;
    transition: 0.5s;
    transition-timing-function: ease-out;
}

@media (max-width: 700px) {
    .bottom-nav {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 6%;
        display: block;
        background-color: #fff;
        position: fixed;
        z-index: 2;
        border-top: 1px solid rgba(227, 192, 127, 0.701);
    }

    .bottom-nav nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }

    .bottom-nav nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .bottom-nav nav ul li {
        width: 25%;
        text-align: center;
        list-style: none;
    }

    .bottom-nav nav ul li a {
        text-decoration: none;
        color: black;
        font-family: "Anek Tamil", sans-serif;
        font-family: "Big Shoulders Display", cursive;
        font-family: "Ubuntu", sans-serif;
        font-size: 19px;
    }

    .bottom-nav nav ul li a:hover {
        font-size: 21px;
        transition: 0.5s;
        transition-timing-function: ease-out;
    }

    .sec1 {
        height: 8vh;
    }

    .sec1 .logo {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

    .sec1 nav {
        display: none;
    }
}

/*end of navigation*/
/*start of main*/
.sec2 {
    width: 100%;
    height: 100vh;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec2 .back {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    background-size: 40%;
    background-position: 20% 50%;
    background-repeat: no-repeat;
    background-image: url(https://images.pexels.com/photos/9514641/pexels-photo-9514641.jpeg);
}

.sec2 .front {
    width: 50%;
    height: 90%;
    top: 13%;
    left: 48%;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(to right, #d9a962 13%, transparent 13%);
    background-origin: 10%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec2 .front p {
    color: rgb(70, 70, 70);
    font-size: 15px;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    font-family: "Ubuntu", sans-serif;
}

.sec2 .front h1 {
    font-size: 50px;
    font-family: "Andika New Basic", sans-serif;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    line-height: 5rem;
}

@media (max-width: 1000px) {
    .sec2 {
        height: 70vh;
        padding-left: 2%;
        padding-right: 2%;
    }

    .sec2 .front {
        width: 50%;
        height: 85%;
        top: 15%;
        left: 50%;
    }

    .sec2 .front p {
        text-align: center;
        width: 50%;
        font-size: 12px;
    }

    .sec2 .front h1 {
        text-align: center;
        font-size: 35px;
        line-height: 3rem;
    }
}

@media (max-width: 450px) {
    .sec2 {
        height: 40vh;
        padding-left: 1%;
        padding-right: 1%;
    }

    .sec2 .front {
        width: 50%;
        height: 90%;
        left: 50%;
        bottom: 15%;
    }

    .sec2 .front p {
        font-size: 8px;
    }

    .sec2 .front h1 {
        font-size: 20px;
        line-height: 2.5rem;
    }
}

/*about me*/
#about {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 5%;
    gap: 2px;
}

#about .description {
    width: 43%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#about .description h3 {
    font-size: 45px;
    font-family: "Andika New Basic", sans-serif;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    line-height: 5rem;
}

#about .description p {
    color: rgb(70, 70, 70);
    font-size: 20px;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    font-family: "Ubuntu", sans-serif;
    margin-top: 5%;
}

#about .description a button {
    width: 150%;
    background-color: white;
    line-height: 2.5rem;
    border: 0.5px solid #d8b37b;
    border-radius: 7px;
    text-decoration: none;
    color: #5a482c;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    margin-top: 15%;
    cursor: pointer;
}

#about .description a button:hover {
    background-color: #5a482c;
    border: none;
    color: white;
    transition: 0.2s;
    transition-timing-function: ease-out;
}

#about .me {
    width: 43%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .me .back {
    width: 60%;
    height: 75%;
    border: 5px solid #b38b50;
    position: relative;
    border-radius: 5px;
}

#about .me img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 7%;
    left: 10%;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    #about {
        height: 70vh;
        padding-left: 3%;
        padding-right: 3%;
    }

    #about .description h3 {
        font-size: 30px;
        line-height: 3rem;
    }

    #about .description p {
        font-size: 15px;
    }

    #about .description a button {
        width: 130%;
        line-height: 2rem;
        font-size: 13px;
        margin-top: 15%;
    }

    #about .me {
        height: 97%;
        width: 45%;
    }

    #about .me .back {
        width: 90%;
    }
}

@media (max-width: 450px) {
    #about {
        height: 50vh;
        padding-left: 2%;
        padding-right: 2%;
    }

    #about .description h3 {
        font-size: 20px;
        line-height: 1.5rem;
    }

    #about .description p {
        font-size: 10px;
    }

    #about .description a button {
        width: 105%;
        line-height: 1.5rem;
        font-size: 11px;
        margin-top: 11%;
    }

    #about .me {
        height: 90%;
        width: 50%;
    }

    #about .me .back {
        width: 85%;
    }
}

/*end of about me section*/
/*start of skill section*/
#skills {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 7%;
    padding-right: 7%;
}

#skills h3 {
    font-size: 40px;
    font-family: "Andika New Basic", sans-serif;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    line-height: 5rem;
}

#skills .boxs {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills .boxs .box {
    width: 30%;
    height: 70%;
    text-align: center;
    border-radius: 10px 45px 10px 45px;
    background-color: #7e5d2a74;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: none;
}

#skills .boxs .box h4 {
    font-size: 30px;
    font-family: "Andika New Basic", sans-serif;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    line-height: 3.5rem;
    color: #30220c;
}

#skills .boxs .box p {
    width: 60%;
    margin: auto;
    color: rgb(70, 70, 70);
    font-size: 15px;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    font-family: "Ubuntu", sans-serif;
}

#skills .boxs button {
    border: none;
    background-color: transparent;
}

@media (max-width: 750px) {
    #skills .boxs .box {
        width: 45%;
    }
}

/*end of skill section*/
/*start of project section*/
#projects {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects h3 {
    font-size: 40px;
    font-family: "Andika New Basic", sans-serif;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    line-height: 5rem;
}

#projects .cards {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    position: relative;
}

#projects .cards .card {
    width: 40%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px rgba(187, 149, 96, 0.308) ;
    /* border: 1px solid rgba(187, 149, 96, 0.308); */
    border-radius: 10px;
}

#projects .cards .card:hover {
    box-shadow: 1px 6px 5px rgba(108, 82, 46, 0.308);
}

#projects .cards .card .detail {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2%;
}

#projects .cards .card .detail h5 {
    font-size: 25px;
    font-family: "Andika New Basic", sans-serif;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    line-height: 2rem;
}

#projects .cards .card .detail p {
    font-size: 15px;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    font-family: "Ubuntu", sans-serif;
    margin-top: 5%;
    color: rgb(107, 107, 107);
}

#projects .cards .card .detail button {
    width: 40%;
    height: 1.5rem;
    margin-top: 5%;
    border: none;
    background-color: rgba(125, 115, 76, 0.638);
    border-radius: 7px;
}

#projects .cards .card .detail button a {
    text-decoration: none;
    color: black;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
}

#projects .cards .card .detail button:hover {
    width: 43%;
    height: 1.7rem;
    box-shadow: 1px 1px 3px black;
}

#projects .cards .card .img {
    width: 50%;
    height: 100%;
}

#projects .cards .first {
    position: absolute;
    left: 55%;
    bottom: 65%;
}

#projects .cards .second {
    position: absolute;
    right: 55%;
    bottom: 45%;
}

#projects .cards .third {
    position: absolute;
    left: 55%;
    top: 45%;
}

#projects .cards .first .img {
    background-image: url(https://picresize.com/img/picresize_file_convert.webp);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

#projects .cards .second .img {
    background-image: url(https://media.istockphoto.com/vectors/drums-rock-music-cartoon-vector-illustration-vector-id862672154?k=20&m=862672154&s=612x612&w=0&h=UUtCA_tZI7CpyHZ7sbmbrU4z63Dqwe8WThBiWip0xcE=);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
}

#projects .cards .third .img {
    background-image: url(https://cdn-icons-png.flaticon.com/512/1754/1754106.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-color: #ffffff;
}

@media (max-width: 900px) {
    #projects {
        height: 120vh;
    }

    #pojects h3 {
        font-size: 30px;
    }

    #projects .cards {
        height: 80%;
        flex-direction: column;
        position: static;
    }

    #projects .cards .card {
        width: 80%;
        height: 40%;
        position: static;
    }

    #projects .cards .card .detail button {
        width: 50%;
        height: 2rem;
        margin-top: 5%;
        border: none;
        background-color: rgba(125, 115, 76, 0.638);
        border-radius: 7px;
    }

    #projects .cards .card .detail button a {
        line-height: 1.7rem;
        font-size: 18px;
    }

    #projects .cards .card .detail h5 {
        font-size: 30px;
        line-height: 1.7rem;
    }

    #projects .cards .card .detail p {
        font-size: 18px;
        margin-top: 5%;
    }
}

@media (max-width: 500px) {
    #projects {
        height: 100vh;
    }

    #projects .cards {
        height: 100%;
        flex-direction: column;
        position: static;
    }

    #projects .cards .card {
        width: 80%;
        height: 25%;
        position: static;
        gap: 5%;
    }

    #projects .cards .card .detail h5 {
        font-size: 19px;
        line-height: 1.7rem;
    }

    #projects .cards .card .detail p {
        font-size: 10px;
        margin-top: 5%;
    }

    #projects .cards .card .detail button {
        width: 50%;
        height: 1.7rem;
    }

    #projects .cards .card .detail button a {
        line-height: 1.7rem;
        font-size: 11px;
    }
}

/*end of project section*/
/*start of contact section*/
#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 5%;
}

#contact .left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

#contact .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

#contact .left .content {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #96897358;
    border-radius: 7px;
}

#contact .left .content form {
    width: 70%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#contact .left .content form label {
    font-family: "Andika New Basic", sans-serif;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    margin-bottom: 3%;
    margin-top: 3%;
    color: white;
}

#contact .left .content form button {
    width: 35%;
    height: 7%;
    border: none;
    background-color: #fff;
    border-radius: 7px;
    margin-top: 5%;
    font-family: "Andika New Basic", sans-serif;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
}

#contact .left .content form button:hover {
    background-color: black;
    color: white;
}

#contact .left .content form input,
#contact .left .content form textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 2rem;
    color: white;
}

#contact .left .content-title {
    width: 40%;
    height: 18%;
    position: absolute;
    bottom: 80%;
    background-color: rgba(227, 192, 127);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .left .content-title h3 {
    font-size: 30px;
    font-family: "Andika New Basic", sans-serif;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    line-height: 1.5rem;
    color: white;
}

@media (max-width: 1000px) {
    #contact {
        height: 120vh;
        flex-direction: column;
    }

    #contact .left {
        height: 95%;
        width: 100%;
    }

    #contact .left .content-title {
        width: 40%;
        height: 15%;
    }

    #contact .right {
        display: none;
    }
}
@media (max-width:700px) {
    #contact{
        height: 100vh;
    }
}

/*end of contact section*/
footer {
    width: 100%;
    height: 6%;
    background-color: rgb(161, 155, 107);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1%;
}

footer div {
    width: 25%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.269);
}

footer div img {
    margin: 2px;
}

footer h6 {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    color: rgb(60, 57, 57);
    font-size: 12px;
    font-family: "Anek Tamil", sans-serif;
    font-family: "Big Shoulders Display", cursive;
    font-family: "Ubuntu", sans-serif;
}

footer h6 span {
    color: black;
}